<div class="ui padded grid">
  <div class="ui column">

    <button class="ui positive basic button" (click)="add_field()">
      <i class="icon add"></i>
      Agregar
    </button>
    <button class="ui primary basic button" (click)="save()">
      <i class="icon save"></i>
      Guardar
    </button>

    <table class="ui celled structured table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Required</th>
          <th>Rules</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr row-component *ngFor="let field of fields; let i = index;" [field]="field" (remove)="remove(i)"></tr>
      </tbody>
    </table>
  </div>

  {{fields | json}}
</div>
